<%- include('../../public/partials/header.ejs')%>

    <body>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h2>Cadastro de Usuario</h2>
                </div>
                <div class="card-body">
                    <form action="/admin/adicionar" method="POST" onsubmit="Validate(event,this)">
                        <p class="mb-1">Nome:</p>
                        <input class="form-control" type="text" placeholder="Insira nome do Usiario" name="nome">
                        <p class="mb-1">E-mail</p>
                        <input class="form-control" type="text" placeholder="Insira seu Email" name="email">
                        <p class="mb-1">Informe o nivel:</p>
                        <select name="nivel">
                            <option value="1">1-Admin</option>
                            <option value="2">2-Usuario</option>
                        </select>
                        <br>
                        <p class="mb-1">Digite seu numero de Telefone:</p>
                        <input type="tell" name="telefone" id="tel" placeholder = '(xx) xxxxx-xxxx'>
                        <p class="mb-1">Senha:</p>
                        <input type="password" placeholder="Informe sua Senha" name="pass1" id="x">
                        <p class="mb-1">Confirma Senha</p>
                        <input type="password" placeholder="Confirme sua Senha" name="senha" id="y">
                        <br>
                        <button class="btn btn-success">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
        <script type="text/javascript">
        function Validate(event, form) {
            event.preventDefault()
            console.log(form)
            var password = document.getElementById("x").value;

            var confirmPassword = document.getElementById("y").value;

            if (password != confirmPassword && password != undefined) {

                alert("Senhas não são iguais");

                return false;

            }
            form.submit()
            return true;

        }
        </script>
    </body>
    <%- include('../../public/partials/footer.ejs')%>