<div class="footer-wrap">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="wrap-center">
                        <span class="footer-title">SERVIÇOS</span>
                        <ul>
                            <li>• Atendimento inteligente</li>
                            <li>• Formas de Pagamento</li>
                            <li>• Valor do Frete</li>
                            <li>• Prazo de entrega</li>
                            <li>• Trocas e Devoluções</li>
                            <li>• Segurança e Privacidade</li>
                            <li>• Meus Pedidos</li>
                            <li>• Minha conta</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="wrap-center">
                        <span class="footer-title">ICAN - Site</span>
                        <ul>
                            <li>• Quem é a Marcyn?</li>
                            <li>• Mapa do Site</li>
                        </ul>

                        <span class="footer-title">QUEM DESEJAMOS ALCANÇAR</span>
                        <ul>
                            <li>• Lojas Marcyn</li>
                            <li>• Lojas Multimarcas</li>
                            <li>• Para Logistas</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 links-social">
                    <span class="footer-title">nossas redes sociais</span>
                    <div class="wrap-sociais">
                        <img src="https://marcynonline.vteximg.com.br/arquivos/footer-icon-facebook.png" alt="">
                        <img src="https://marcynonline.vteximg.com.br/arquivos/footer-icon-google.png" alt="">
                        <img src="https://marcynonline.vteximg.com.br/arquivos/footer-icon-twitter.png" alt="">
                        <img src="https://marcynonline.vteximg.com.br/arquivos/footer-icon-instagram.png" alt="">
                        <img src="https://marcynonline.vteximg.com.br/arquivos/footer-icon-marcyn.png" alt="">
                    </div>
                    <span class="footer-title formas-pagamento">Formas de Pagamento</span>
                    <img src="https://marcynonline.vteximg.com.br/arquivos/footer-formas-pagamentos.png" alt="">
                </div>
                <div class="col-md-3 links-social">
                    <span class="footer-title">ICAN - 2021 - TODOS OS DIREITOS RESERVADOS</span>
                </div>
            </div>
        </div>
    </div>
</div>