<body>
    <div class="gif-container">
        <header>
            <!-- Incio header -->
            <nav class="navbar fixed-top navbar-expand-sm navbar-dark m-0">
                <div class="container">
                    <a href="index.html" class="navbar-brand">
                        <img src="img/logo.png" width="80">
                    </a>

                    <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
                        <span class="fas fa-align-right icone"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="nav-principal">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a href="" class="nav-link"><i class="fas fa-rocket icone"> </i> Início</a>
                            </li>
                            <li class="nav-item">
                                <a href="servicos.html" class="nav-link"><i class="fas fa-rocket icone"></i>
                                    Serviços</a>
                            </li>
                            <li class="nav-item">
                                <a href="guiadoiniciante.html" class="nav-link"> <i class="fas fa-rocket icone"></i>
                                    Quem somos</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link"> <i class="fas fa-rocket icone"></i> Clientes</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link"> <i class="fas fa-rocket icone"></i> Contato</a>
                            </li>
                            <a href="" class="btn ml-4 botao text-white">Fazer orçamento</a>
                        </ul>
                    </div>
                </div>
            </nav>
        </header> <!-- fim header -->

        <div>
            <h1 class="col-4"><b> Ican - Serviço e Consultoria em Marketing Digital </b></h1>
            <div class="col-4 texto1">
                <h2>Lance sua marca e decole seu negócio. Aqui no Ican você vai ter consultoria especializada para o seu
                    tipo de negócio. Aqui você pode ir além!</h2>
            </div>
        </div>
    </div> <!-- fim container -->